*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}
  
.Logo {
  font-size: 1.5em;
  font-weight: bold;
  width: 120px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

nav a {
  
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #FFD700; 
}

header {
  background-color: gold;
  padding: 0 30px; 
}

header .container-header {
  display: flex;
  justify-content: space-between; 
  flex-direction: column; 
  align-items: center;
  padding: 10px 20px;
  background-color: gold;
  
}

header .nav {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

header a {
  padding: 10px 0;
  text-decoration: none !important;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: fuchsia;
}
  
#category-navbar {
  background-color: #0e273f;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc; 
}

#category-navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-shrink: 0; 
}

#category-navbar a:hover {
  background-color: gold;
  color: black;
}

.menu-item h3{
  font-size: 1.3em;
}
.content {
  padding: 20px;
}
  
.hidden {
  display: none;
}
  
section {
  margin-bottom: 20px;
  scroll-margin-top: 60px;
}
 
.menu-section {
  scroll-snap-align: start;
  padding: 2rem;
  background-color: #b9d4f760;
  border-bottom: 1px solid #ddd;
}

section h2{
  scroll-margin-top: 65px;
}

.menu-item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.menu-item .price{
  font-size: 1.5rem;
  line-height: 40px;
  margin-right: 15px;
}

.menu-item a{
  line-height: 1;
  padding: 0;
  margin-top: -12px;
}

/* Footer */
footer {
  background-color: #0e273f;
  color: white;
  padding: 30px 20px;
  border-top: 5px solid #f1c40f; 
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.nuestra-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nuestra-info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nuestra-info a::before {
  margin-right: 10px;
}

.nuestra-info a i{
  margin-right: 10px;
}

.social {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social h6 {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 2px;
}

.social a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}

.social a:hover {
  color: #f1c40f;
  transform: scale(1.1);
}

footer p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}

/* Css de los productos */

body {
  font-family: Arial, sans-serif;
}

.menu-section {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 2em;
  color: #7C6046; 
  margin-bottom: 10px;
}

.container {
  scroll-snap-type: y mandatory;
  max-width: 600px;
  margin: 0 auto;
}



.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.menu-item h3 {
  font-size: 1.2em;
  text-align: left;
  width: 75%;
}

.menu-item .price {
  font-size: 1.2em;
  color: #7C6046; 
  text-align: right;
  width: 25%;
}

.menu-info p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
  }

.menu-info p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
}
@media (min-width: 768px){
  h2{
    font-size: 2.5em;
  }

  .menu-item h3{
    font-size: 1.3em;
  }

  .menu-item .price{
    font-size: 1.5em;
  }

  .container{
    max-width: 1200px;
  }

  .order-button{
    width: 30px;
    height: 30px;
    font-size: 24px;
    margin-left: 20px;
  }

  .menu-item .price{
    line-height: 50px;
  }
  .menu-item a{
    line-height: 1;
    padding: 0;
    margin-top: -12px;
  }
}

/* Estilos específicos para pantallas más pequeñas como el iPhone SE */
@media (max-width: 400px) {
  header {
    padding: 0 10px;
  }
  
  header .container-header {
    padding: 5px 10px; /* Aún más pequeño en pantallas muy pequeñas */
  }
  
  header .nav {
    flex-direction: column;
    padding: 0;
  }
  
  header a {
    padding: 5px 0; /* Reducir el padding entre enlaces */
    font-size: 14px; /* Reducir tamaño de la fuente si es necesario */
  }
}