*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}
  
.Logo {
  font-size: 1.5em;
  font-weight: bold;
  width: 120px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

nav a {
  
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #FFD700; 
}

header {
  background-color: gold;
  padding: 0 30px; 
}

header .container-header {
  display: flex;
  justify-content: space-between; 
  flex-direction: column; 
  align-items: center;
  padding: 10px 20px;
  background-color: gold;
  
}

header .nav {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

header a {
  padding: 10px 0;
  text-decoration: none !important;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: fuchsia;
}
  
#category-navbar {
  background-color: #0e273f;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between; /* Centra los elementos */
  border-bottom: 1px solid #ccc; 
  padding: 10px 0; /
}

#category-navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-shrink: 0; 
}

#category-navbar a:hover {
  background-color: gold;
  color: black;
}

/* Estilo del Pop-up */
.popup {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex; /* Para centrar el contenido */
}

/* Contenido del Pop-up */
.popup-content {
  position: relative;
  background-image: url('Images/empQueso.jpg'); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra el contenido */
  background-position: center;
  width: 90%; /* Ajustar el ancho */
  max-width: 800px; /* Ancho máximo */
  height: 400px; /* Mayor altura */
  padding: 40px 60px;
  border-radius: 20px; /* Bordes redondeados */
  font-size: 1.6rem; /* Tamaño del texto */
  font-weight: bold;
  display: flex;
  flex-direction: column; /* Cambiado a columna para alinear el contenido uno sobre otro */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  color: rgb(180, 86, 8); /* Color de texto */
  position: relative;
}

/* Capa oscura sobre la imagen para mejorar visibilidad del texto */
.popup-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Capa más oscura */
  border-radius: 20px; /* Bordes redondeados */
  z-index: -1; /* Coloca la capa debajo del contenido */
}

/* Estilo del texto (título y párrafo) */
.popup-content h2 {
  font-size: 2.4rem; /* Aumentar tamaño del título */
  color: goldenrod; /* Color dorado para el título */
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para hacer que el texto se lea mejor */
}

.popup-content p {
  font-size: 1.4rem; /* Tamaño del párrafo */
  margin-bottom: 30px;
  color: white; /* Color blanco para el texto */
}

/* Estilo del botón de encargo */
.order-button-pop {
  background-color: rgba(255, 165, 0, 0.8); /* Color naranja suave */
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transición de transformación */
}

/* Efecto al pasar el ratón (hover) */
.order-button-pop:hover {
  background-color: rgba(255, 140, 0, 0.9); /* Efecto hover para el botón */
  transform: scale(1.1); /* Aumenta el tamaño del botón */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Sombra más prominente */
}

/* Asegurarse de que no haya subrayado azul ni enfoque por defecto */
.order-button-pop:focus,
.order-button-pop:active {
    outline: none; /* Elimina el borde de enfoque */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Mantén la sombra original */
}



@media (min-width: 768px) { /* Aplicará estos estilos en tablets y pantallas grandes */
  #category-navbar {
    justify-content: center; /* Centra los enlaces */
    gap: 50px; /* Añade espacio entre ellos */
  }
  
  #category-navbar a {
    font-size: 1.2rem; /* Hace los enlaces más grandes */
  }
}

.menu-item h3{
  font-size: 1.3em;
}
.content {
  padding: 20px;
}
  
.hidden {
  display: none;
}
  
section {
  margin-bottom: 20px;
  scroll-margin-top: 60px;
}
 
.menu-section {
  scroll-snap-align: start;
  padding: 2rem;
  background-color: #b9d4f760;
  border-bottom: 1px solid #ddd;
}

section h2{
  scroll-margin-top: 65px;
  padding: 20px;
}

#nombre-plato{
  margin-top: 10px;
}

.menu-item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.menu-item .price{
  font-size: 1.5rem;
  line-height: 40px;
  margin-right: 15px;
}

.menu-item a{
  line-height: 1;
  padding: 0;
  margin-top: -12px;
}

/* Footer */
footer {
  background-color: #0e273f;
  color: white;
  padding: 30px 20px;
  border-top: 5px solid #f1c40f; 
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.nuestra-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nuestra-info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nuestra-info a::before {
  margin-right: 10px;
}

.nuestra-info a i{
  margin-right: 10px;
}

.social {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social h6 {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 2px;
}

.social a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}

.social a:hover {
  color: #f1c40f;
  transform: scale(1.1);
}

footer p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}

/* Css de los productos */

body {
  font-family: Arial, sans-serif;
}

.menu-section {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 2em;
  color: #7C6046; 
  margin-bottom: 10px;
}

.container {
  scroll-snap-type: y mandatory;
  max-width: 600px;
  margin: 0 auto;
}



.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.menu-item h3 {
  font-size: 1.2em;
  text-align: left;
  width: 75%;
}

.menu-item .price {
  font-size: 1.2em;
  color: #7C6046; 
  text-align: right;
  width: 25%;
}

.menu-info p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
  }

.menu-info p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
}
@media (max-width: 768px) {
  .menu-item {
    flex-direction: row !important; /* Asegurar que los elementos estén en fila */
    align-items: center !important;
    justify-content: space-between !important;
    padding: 20px;
  }

  .menu-item h3 {
    width: 70% !important; /* Reducimos el ancho del título */
    text-align: left !important;
  }

  .menu-info p {

    display: none; /* Agrega "..." si es muy largo */
  }

  p {
    display: none;
  }

  .price{
    display: block;
  }

  .menu-item .price {
    font-size: 1em !important;
    text-align: left !important;
    width: auto !important;
    margin-top: 0 !important;
  }

  .menu-item a {
    width: auto !important;
    text-align: right !important;
    margin-left: auto !important; /* Empuja el botón a la derecha */
  }
}



/* Estilos específicos para pantallas más pequeñas como el iPhone SE */
@media (max-width: 400px) {
  header {
    padding: 0 10px;
  }
  
  header .container-header {
    padding: 5px 10px; /* Aún más pequeño en pantallas muy pequeñas */
  }
  
  header .nav {
    flex-direction: column;
    padding: 0;
  }
  
  header a {
    padding: 5px 0; /* Reducir el padding entre enlaces */
    font-size: 14px; /* Reducir tamaño de la fuente si es necesario */
  }
}