*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  html{
    scroll-behavior: smooth;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0e273f;
    color: #fff;
  }

  .container a{
    text-decoration: none;
    color: white;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav a {
    
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }
  
  header {
    background-color: gold;
    color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1000;
    transition: top 0.3s; 
}

header .container {
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
}
  
#category-navbar {
    background-color: #0e273f;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; 
}

#category-navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-shrink: 0; 
}

#category-navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
}
  
.hidden {
    display: none;
}
  
  section {
    margin-bottom: 20px;
    scroll-margin-top: 60px;
}
 
.menu-section {
    padding: 2rem;
    background-color: #b9d4f760;
    border-bottom: 1px solid #ddd;
}

.menu-item {
    display: flex;
    margin-bottom: 1rem;
}

.menu-item img{
    max-width: 150px;
    margin-right: 1rem;
}

.menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  }

  footer{
    background-color: #0e273f;
    color: white;
    padding: 20px 0;
  }

  .social{
    flex: 1;
    text-align: right;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nuestra-info{
    flex: 1;
    text-align: left;
  }

  .social h6{
    margin-bottom: 10px;
  }

  .social a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social a:hover {
  color: #ddd;
}

footer p {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

  .container-footer a{
    text-decoration: none;
    color: white;
  }
  

